@import url("https://fonts.googleapis.com/css2?family=Allison&family=Allura&family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Permanent+Marker&family=Sacramento&display=swap");

@import "tailwindcss";

@layer components {
  .nav {
    @apply block px-4 py-3 rounded-lg text-gray-700 font-medium hover:bg-gray-100 transition-all duration-200;
  }

  .nav.active {
    @apply bg-black text-white shadow-sm;
  }

  .logout {
    @apply mt-6 block px-4 py-3 rounded-lg text-red-600 hover:bg-red-50 font-medium transition;
  }

  .card {
    @apply bg-white rounded-xl p-6 shadow-sm hover:shadow-md transition;
  }

  .title {
    @apply text-xl font-semibold mb-6 text-gray-800;
  }

  .input {
    @apply border border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-black focus:border-black transition;
  }

  .btn {
    @apply bg-black text-white px-6 py-2 rounded-lg hover:bg-gray-800 active:scale-95 transition;
  }

  .step {
    @apply border border-gray-300 rounded-lg px-4 py-3 transition;
  }

  .step.active {
    @apply bg-green-100 border-green-500 text-green-700;
  }

}

.font-dancing {
  font-family: "Dancing Script", cursive;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
}

.sacramento-regular {
  font-family: "Sacramento", cursive;
}

.cinzel {
  font-family: "Cinzel", serif;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
}

.allison-regular {
  font-family: "Allison", cursive;
}

.allura-regular {
  font-family: "Allura", cursive;
}

.input{
 @apply border border-gray-300 rounded-xl p-3 w-full transition focus:outline-none focus:ring-2 focus:ring-black hover:border-black;
}

